@model TasteFoodIt.Entities.Reservation
<section class="ftco-section ftco-wrap-about bg-primary ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-sm-12 p-4 p-md-5 d-flex align-items-center justify-content-center bg-primary">
                <form action="#" class="appointment-form">
                    <h3 class="mb-3">Rezervasyon Oluşturun</h3>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "İsim Soyisim" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = "Telefon" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="fa fa-calendar"></span></div>
                                    @Html.TextBoxFor(x => x.ReservationDate, new { @class = "form-control", placeholder = "Tarih Belirleyin" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="fa fa-clock-o"></span></div>
                                    @Html.TextBoxFor(x => x.Time, new { @class = "form-control", placeholder = "Zaman Belirleyin" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="">Guest</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Şimdi Rezervasyon Yapın" class="btn btn-white py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
